<div class="basket">
  <div class="basket__title">Корзина</div>
  <div *ngIf="checkoutItems.size">
    <div class="basket__list">
      <div class="basket__item" *ngFor="let item of checkoutItems | keyvalue">
        <div>!!!!{{console(item?.value)}}</div>
        <span
          class="basket__remove-btn"
          (click)="remove(item?.value?.product.id)">+
        </span>
        <span class="basket__item-text">{{item?.value?.product.name}}: </span>
        <span class="basket__item-price">{{item?.value?.product.price}}$</span>
        <span class="basket__item-count" *ngIf="item?.value?.amount !== 1">x{{item?.value?.amount}}</span>
      </div>
    </div>
    <div class="basket__sum">
      <div class="basket__sum-text">Всего: {{sum[currency.usd]?.amount}} {{currency.usd}}</div>
      <div class="basket__sum-wrap">
        <div
          class="basket__sum-currency"
          *ngFor="let key of currencyKeys">
          {{sum[key].amount}} {{sum[key].currency}}
        </div>
      </div>
    </div>
  </div>
</div>
