.card {
  &-wrap {
    min-width: 250px;
    margin: 0 auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
  }
}

.button:hover {
  background-color: #4c3d3d;
}
