<main class="page-main">
  <section class="goods">
    <div class="goods_info goods_info--black">{{title}}
      <br/>
      <span class="goods_info">for yourself</span>
    </div>

    <div class="goods-wrap">
      <app-card class="goods__item"
        *ngFor="let item of storeService.items"
        [item]="item"
        (addEvent)="addProduct($event)">
      </app-card>
    </div>
  </section>
  <section class="basket">
    <app-basket
      (removeEvent)="removeProduct($event)"
      [currenciesRatio]="currenciesRatio"
      [checkoutItems]="checkoutProducts">

    </app-basket>
  </section>
</main>
