.page-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.goods {
  max-width: 60%;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &_info {
    margin-top: 45px;
    color: #F4FEFA;
    line-height: 80px;
    font-size: 60px;

    &--black {
      color: #142328;
    }
  }

  &__item {
    flex-grow: 1;
    max-width: 100%;

    &:hover {
      background: radial-gradient(circle, #AB0000, #CC0000)
    }
  }
}

.basket {
  position: sticky;
  top: 75px;
}

