<div class="basket">
  <div class="basket__title">Корзина</div>
  <div class="basket__currency">Валюта
    <select (ngModelChange)="changeCurrency($event)" [(ngModel)]="currentCur">
      <option *ngFor="let currency of currentCurrencies">
        {{currency}}
      </option>
    </select>
  </div>
  <div *ngIf="checkoutItems?.length">
    <div class="basket__list">
      <div class="basket__item" *ngFor="let item of checkoutItems">
        <span
          class="basket__remove-btn"
          (click)="remove(item.product.id)">+
        </span>
        <span class="basket__item-text">{{item.product.name}}: </span>
        <span class="basket__item-price">{{item.product.price}}</span>
        <span class="basket__item-count" *ngIf="item.amount !== 1">x{{item.amount}}</span>
      </div>
    </div>
    <div class="basket__sum">
      <div class="basket__sum-text">Всего: {{sum}} {{currentCur}}</div>
    </div>
  </div>
</div>
